.error {
  color: red;
  margin: 15px 0;
}

.shopformContainer {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  background: #e5e2e2;
  outline: n;
}
